.apod-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.apod-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 20px;
    color: white;
}

.apod-title {
    width: 100%;
    text-align: center;
    margin: 0;
}


.apod-form-container {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}


.input-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-date {
    padding: 10px;
    flex-grow: 1;
}

.input-button {
    padding: 10px 20px;
    cursor: pointer;
}


.error {
    color: red;
    margin-top: 20px;
}

.apod-content {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}

.apod-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.range-or-count-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

